body {
    font-family: sans-serif; 
    }
h1, h2, h3, h4 { 
    }
h1, h2 { 
    font-family: 'Georgia'
    }
h2 { 
    font-size: 1.2em; 
    }
p, dd, dt { 
    }
a {
    text-decoration: none; 
    font-size: .75em;
    text-transform: uppercase;
    }
.title{
    margin: 50; 
}
.nav span{
    float: right;
    font-style: italic;
    color: #666666
}
.nav ul{
    float: right;
    }
.nav li{
    display: inline;
    padding: 10
    }
.nav img{
    margin-left: 5;
    float: right;
    width: 30px; 
    height: 30px;
}
.header {
    text-align:center;
    margin: 50
    }
.content {
    width:50%; 
    float: left;
    word-wrap: break-word
    }
.name {
    text-align: right; 
    width:50%; 
    float: right; 
    font-style: italic;
    color: #666666
    }
.description {
    
    }
.flash {
    background: #cee5F5; 
    margin: 50
    }
.newItem{
    padding-bottom: 15;
}
.newItem span{
    background: #E6E6E6; 
    border-style: solid;
    border-width: 1;
    text-align:center;
    padding: 1;
    padding-bottom: 3
}
.itemPane {
    margin-left: 50;
    margin-top: 15;
}
.sideBar{
    float: left;
    }
.sideBar {
    padding: 15;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    /* border-top-right-radius: 40px; */
    border-color: #E6E6E6;
    height: 50%;
    background: #E6E6E6
}
.sideBar ul {
    display: inline;
    list-style: none;
    }
.sideBar li {
    padding-bottom: 15
}
.itemsGrid{
    float: left;
    padding: 20;
    width: 75%
    }
.searchCriteria{
    text-align: right
}
.item{
    border-left: 1px solid;
    border-right: 1px solid
}
#evenRow{
    background-color: #E6E6E6;
}
#oddRow{
    background-color: #E0E0FF;
}
.editdeletepane{

    }
form{
    margin: 50
}
form input {
    display: block;
}
