<html>
    <link>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer>
</script>
    </link>
    <div class = 'nav'>
        <ul>
            <li> <a href='/login'>Login</a>   </li>
            <li> <a href="/gdisconnect">Log off</a> </li>
        </ul>
        {%if currentUser%}
        <span>Logged in as {{currentUser.name}}</span>
        {%else%}
        <span>Please login</span>
        {%endif%}
    </div>
    <div class='header'>
        <h1>{{catalog.name}}</h1>
    </div>
    <div class='flash'>
        {%with messages = get_flashed_messages()%}
        {%if messages%}
            <ul>
                {%for m in messages%}
                <li><strong>{{m}}</strong></li>
                {%endfor%}
            </ul>
        {%endif%}
        {%endwith%}
    </div>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>