{% extends "base.html" %}
{% block content %}
<div class='itemPane'>
    <aside class='sideBar'>
        <ul>
            {% for c in catagories %}
            <li> 
                <a href={{url_for('catalog', catalog_id=catalog_id, catagory_id=c.id)}}>
                    {{c.description}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside>
    <div class='itemsGrid'>
        <div class='newitem'>
            <span><a href={{url_for('newitem', catalog_id=catalog_id,catalog=catalog)}}>New item</a></span>
        </div>
        <div class='searchCriteria'>
            <span>{{searchCriteria}}</span>
        </div>
        {% for i in items %}
        <div class='item' id={{'evenRow' if items.index(i)%2 == 0 else 'oddRow'}}>
            <div class='contentAndName'>
                <span class='content'><p>{{i.content}} ({{i.catagory.description if i.catagory else "none"}})</p></span>
                <br>
                <span class='name'><p>added by {{i.user.name}}</p></span>
            </div>
            <div class = 'editDeletePane'>
                <a href={{url_for('edititem', catalog_id=catalog_id,catalog=catalog,item_id=i.id)}}>Edit</a>
                <a href={{url_for('deleteitem', catalog_id=catalog_id,catalog=catalog,item_id=i.id)}}>Delete</a>
            </div>
        </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}