{% extends "base.html" %}
{% block content %}
<div class='title'><h1> Add an item </h1></div>
<form action="{{url_for('newitem', catalog_id=catalog_id, catalog=catalog, catagory_description = catagory_description)}}" method = 'post'>
	<input type='text' size='30' name='title' placeholder='Title'>
	<input type='text' size='30' name='content' placeholder='Description'>
	<select name='catagory'>
	  {% for c in catagories %}
		<option 
			{% if catagory_description == c.description %}
			selected="selected"
			{% endif %}
		  	value="{{c.id}}">{{c.description}}
		</option>
	  {% endfor %}
	</select> 
	<input type='submit' value='Add'> 
</form>
</body>
</html>
{% endblock %}